@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.fondoformulario, .pie .pie-firma, .pie .pie-logo, .cabecera .cab-nombre .cab-menu, .cabecera .cab-nombre .titulop, .cabecera .cab-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cabecera {
  display: flex;
  justify-content: space-between;
  background-image: url("../imagenes/cabezacielo3.jpg");
  background-size: cover;
}
.cabecera .cab-logo {
  width: 20vw;
  height: 160px;
  margin: 0px;
}
.cabecera .cab-logo img {
  width: 180px;
  height: 130px;
}
.cabecera .cab-nombre {
  display: inline-block;
  align-items: center;
}
.cabecera .cab-nombre h1 {
  color: white;
  font-size: 42px;
  font-style: italic;
  font-weight: bold;
  text-shadow: 2px 2px 3px black;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
}
@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.cabecera .cab-nombre .titulop {
  width: 80vw;
  height: 120px;
  margin: 0px;
}
.titulo {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, rgba(139, 196, 241, 0.85) 0%, rgba(254, 254, 254, 0.15) 100%);
}
.titulo h2 {
  color: white;
  text-shadow: 1px 1px 2px black;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: entrada;
          animation-name: entrada;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
}
@-webkit-keyframes entrada {
  0% {
    margin-right: 700px;
  }
  100% {
    margin-right: 0px;
  }
}
@keyframes entrada {
  0% {
    margin-right: 700px;
  }
  100% {
    margin-right: 0px;
  }
}

.pie {
  display: flex;
  background-image: url("../imagenes/pie2a.jpg");
  background-size: cover;
}
.pie .pie-logo {
  width: 20vw;
  height: 120px;
  margin: 0px;
}
.pie .pie-logo img {
  width: 180px;
  height: auto;
  box-shadow: 2px 2px 3px black;
}
.pie .pie-firma {
  color: white;
}
.pie .pie-firma img {
  width: 18px;
  height: 18px;
}

.fondogaleria {
  background-color: bisque;
}
.fondogaleria .img-gal {
  width: 335px;
  height: 325px;
  margin: 10px;
  border-style: groove;
}
.fondogaleria .menu-flo {
  position: fixed;
  right: 0px;
  top: 170px;
  width: 100px;
  text-align: center;
  background-color: lightgray;
  border-radius: 10px;
}
.fondogaleria .menu-flo a:hover {
  color: white;
  text-shadow: 1px 1px 2px black;
  font-weight: bold;
}
.fondogaleria .subtitgal {
  text-align: center;
  background-color: lightgray;
}

.fondoformulario {
  background-color: bisque;
}
.fondoformulario img {
  width: 450px;
  height: 350px;
  margin: 20px;
  border-style: groove;
}

.marcoform {
  width: 500px;
  height: 360px;
  margin: 20px;
  border-style: groove;
}

.fondogaleria {
  background-color: bisque;
}

.plano {
  width: 350px;
  height: 320px;
  padding: 15px;
  box-shadow: 2px 2px 3px black;
}

.bloque {
  width: 90%;
  height: 90%;
  margin: 5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

p {
  text-align: justify;
  margin: 10px;
}

a {
  text-decoration: none;
}

.parrafo {
  overflow: hidden;
  width: 100%;
  margin: auto;
}

img {
  height: 300px;
}

.t-n {
  text-align: center;
  color: darkgoldenrod;
}

@media only screen and (max-device-width: 650px) {
  .cabecera {
    display: inline-block;
  }
  .cabecera .cab-logo {
    width: 100vw;
  }
  .cabecera .cab-nombre .titulop {
    width: 100vw;
  }

  .pie {
    display: inline-block;
  }
  .pie .pie-logo {
    width: 100vw;
  }
  .pie .pie-firma {
    display: inline-block;
  }

  .plano {
    display: inline-block;
    flex-wrap: wrap;
    justify-items: center;
  }
  .plano img {
    display: block;
  }

  .vertical {
    display: inline-block !important;
  }

  .fondoformulario {
    display: block;
    padding: 5%;
  }
  .fondoformulario img {
    margin: 5% 20%;
  }
}/*# sourceMappingURL=style.css.map */