@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.fondoformulario, footer .pie-logo, header .cab-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 100px 30px;
  grid-template-areas: "logo nombre nombre" "logo menu menu";
}
header .cab-logo {
  grid-area: logo;
  background-size: cover;
  background-image: url("../imagenes/cielologo1.jpg");
}
header .cab-logo img {
  width: 180px;
  height: 140px;
}
header .cab-nombre {
  grid-area: nombre;
  background-image: url("../imagenes/cielonombre1.jpg");
  display: flex;
  align-items: center;
}
header .cab-nombre h1 {
  color: white;
  padding: 27%;
  font-size: 42px;
  font-style: italic;
  text-shadow: 2px 2px 3px black;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
}
@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
header .cab-menu {
  grid-area: menu;
  background-image: url("../imagenes/cielonenu1.jpg");
}
header .altcaja {
  padding: 2px 16px;
}

.titulo {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, rgba(139, 196, 241, 0.85) 0%, rgba(254, 254, 254, 0.15) 100%);
}
.titulo h2 {
  color: white;
  text-shadow: 1px 1px 2px black;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: entrada;
          animation-name: entrada;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
}
@-webkit-keyframes entrada {
  0% {
    margin-right: 700px;
  }
  100% {
    margin-right: 0px;
  }
}
@keyframes entrada {
  0% {
    margin-right: 700px;
  }
  100% {
    margin-right: 0px;
  }
}

footer {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 130px;
  grid-template-areas: "pielogo piefirma piefirma";
}
footer .pie-logo {
  grid-area: pielogo;
  background-image: url("../imagenes/pie1a.jpg");
}
footer .pie-logo img {
  width: 180px;
  height: auto;
  box-shadow: 2px 2px 3px black;
}
footer .pie-firma {
  grid-area: piefirma;
  display: flex;
  background-image: url("../imagenes/pie2a.jpg");
  color: white;
  justify-content: space-around;
  align-items: flex-end;
  padding: 15px;
}
footer .pie-firma img {
  width: 18px;
  height: 18px;
}

.fondogaleria {
  background-color: bisque;
}
.fondogaleria .img-gal {
  width: 335px;
  height: 325px;
  margin: 10px;
  border-style: groove;
}
.fondogaleria .menu-flo {
  position: fixed;
  right: 0px;
  top: 170px;
  width: 100px;
  text-align: center;
  background-color: lightgray;
  border-radius: 10px;
}
.fondogaleria .menu-flo a:hover {
  color: white;
  text-shadow: 1px 1px 2px black;
  font-weight: bold;
}
.fondogaleria .subtitgal {
  text-align: center;
  background-color: lightgray;
}

.fondoformulario {
  background-color: bisque;
}
.fondoformulario img {
  width: 450px;
  height: 350px;
  margin: 20px;
  border-style: groove;
}

.marcoform {
  width: 500px;
  height: 360px;
  margin: 20px;
  border-style: groove;
}

.fondogaleria {
  background-color: bisque;
}

.plano {
  width: 350px;
  height: 320px;
  padding: 15px;
  box-shadow: 2px 2px 3px black;
}

.bloque {
  width: 90%;
  height: 90%;
  margin: 5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

p {
  text-align: justify;
  margin: 10px;
}

a {
  text-decoration: none;
}

.parrafo {
  overflow: hidden;
  width: 100%;
  margin: auto;
}

img {
  height: 300px;
}

.t-n {
  text-align: center;
  color: darkgoldenrod;
}

@media screen and (max-width: 700px) {
  .pie-firma {
    display: inline-block;
    padding-top: 25px;
  }

  .plano {
    display: inline-block;
    flex-wrap: wrap;
    justify-items: center;
  }
  .plano img {
    display: block;
  }

  .fondoformulario {
    display: block;
    padding: 5%;
  }
  .fondoformulario img {
    margin: 5% 20%;
  }

  .informe {
    padding: 5% 15%;
  }
}/*# sourceMappingURL=style.css.map */