@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "./partials/variables";
@import "./partials/header";
@import "./partials/titulos";
@import "./partials/footer";
@import "./partials/galeria";
@import "./partials/contacto";
@import "./partials/ubicacion";
@import "./partials/inicio";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
p{
    text-align: justify;
    margin: 10px;
}
a{
    text-decoration: none;
}
.parrafo{
    overflow: hidden;
    width: 100%;
    margin: auto;
}
img{
    height: 300px;
}
.t-n{
    text-align: center;
    color: darkgoldenrod;
}
@media only screen and (max-device-width: 650px){
    .cabecera{
        display: inline-block;
        .cab-logo{
            width: 100vw;
        }
        .cab-nombre{
            .titulop{
                width: 100vw;
            }
        }
    }
    .pie{
        display: inline-block;
        .pie-logo{
            width: 100vw;
        }
        .pie-firma{
            display: inline-block;
        }
    }
    .plano{
        display: inline-block;
        flex-wrap: wrap;
        justify-items: center;
        img{
            display: block;
        }
    }
    .vertical{
        display: inline-block !important;
    }
    .fondoformulario1{
        display: block;
        padding-left: 100px;
    }
    .marco_i{
        display: inline-block;
        .parrafo_i{
            column-count: 1;
        }
    }
}