*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
header{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 100px 30px;
    grid-template-areas: 
        "logo nombre nombre"
        "logo menu menu";
}
.logo{
    grid-area: logo;
}
.logo img{
    width: 180px;
    height: auto;
}
.nombre{
    grid-area: nombre;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu{
    grid-area: menu;
}
.menu ul{
    display: flex;
    justify-content:space-around;
}
footer{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 130px;
    grid-template-areas: 
        "logop detalle detalle1";
}
.logop{
    grid-area: logop;
}
.logop img{
    width: 180px;
    height: auto;
}
.detalle{
    grid-area: detalle;
    display: flex;
    align-items: center;
}
.detalle1{
    grid-area: detalle1;
    display: flex;
    align-items: center;
}
main{
    display: flex;
}
.cuerpo{
    width: 60%;
    height: 300px;
    background-color: beige;
    text-align: center;
    padding: 25px;
}
.historia{
    display: inline-block;
    width: 40%;
    height: 300px;
    background-color: cyan;
    text-align: justify;
    padding: 25px;
}
p{
    margin: 15px;
}
