footer{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 130px;
    grid-template-areas:
        "pielogo piefirma piefirma";
    .pie-logo{
        grid-area: pielogo;
        @extend %orden-c;
        background-image: url("../imagenes/pie1a.jpg");
        img{
            width: 180px;
            height: auto;
            box-shadow: map-get($colores, smb-bloq);
        }
    }
    .pie-firma{
        grid-area: piefirma;
        display: flex;
        background-image: url("../imagenes/pie2a.jpg");
        color: white;
        justify-content:space-around;
        align-items: flex-end;
        padding: 15px;
        img{
            width: 18px;
            height: 18px;
        }
    }
}
