.pie{
    display: flex;
    background-image: url("../imagenes/pie2a.jpg");
    background-size: cover;
    .pie-logo{
        @include dimenc(20vw, 120px, 0px);
        @extend %orden-c;
        img{
            width: 180px;
            height: auto;
            box-shadow: map-get($colores, smb-bloq);
        }
    }
    .pie-firma{
        @extend %orden-c;
        color: white;
        img{
            width: 18px;
            height: 18px;
        }
    }
}
