.fondogaleria{
    background-color: map-get($colores, fnd-princ);
    .img-gal{
        // width: 335px;
        // height: 325px;
        // margin: 10px;
        @include dimenc(335px, 325px, 10px);
        border-style:groove;
    }
    .menu-flo{
        position: fixed;
        right: 0px;
        top: 170px;
        width: 100px;
        text-align: center;
        background-color: map-get($colores, fnd-secun);
        border-radius: 10px;
        a:hover{
            color: white;
            text-shadow: map-get($colores, smb-txt);
            font-weight: bold;
        }
    }
    .subtitgal{
        text-align: center;
        background-color: map-get($colores, fnd-secun);
    }
}