.cabecera{
    display: flex;
    justify-content:space-between;
    background-image: url("../imagenes/cabezacielo3.jpg");
    background-size: cover;
    .cab-logo{
        @extend %orden-c;
        @include dimenc(20vw, 160px, 0px);
        img{
            width: 180px;
            height: 130px;
        }
    }
    .cab-nombre{
        display: inline-block;
        align-items: center;
        h1{
            color: white;
            font-size: 42px;
            font-style: italic;
            font-weight: bold;
            text-shadow: map-get($colores, smb-bloq);
            animation-duration: 5s;
            animation-name: aparecer;
            animation-iteration-count:initial;
        }
        @keyframes aparecer {
            0% {opacity: 0;}
            100% {opacity: 1;}
        }
        .titulop{
            @extend %orden-c;
            @include dimenc(80vw, 120px, 0px);
        }
        .cab-menu{
            @extend %orden-c;
        }
    }
}
