header{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 100px 30px;
    grid-template-areas: 
        "logo nombre nombre"
        "logo menu menu";
    .cab-logo{
        grid-area: logo;
        @extend %orden-c;
        background-size: cover;
        background-image: url("../imagenes/cielologo1.jpg");
        img{
            width: 180px;
            height: 140px;
        }
    }
    .cab-nombre{
        grid-area: nombre;
        background-image: url("../imagenes/cielonombre1.jpg");
        display: flex;
        align-items: center;
        h1{
            color: white;
            padding: 27%;
            font-size: 42px;
            font-style: italic;
            text-shadow: map-get($colores, smb-bloq);
            animation-duration: 5s;
            animation-name: aparecer;
            animation-iteration-count:initial;
        }
        @keyframes aparecer {
            0% {opacity: 0;}
            100% {opacity: 1;}
        }
    }
    .cab-menu{
        grid-area: menu;
        background-image: url("../imagenes/cielonenu1.jpg");
    }
    .altcaja{
        padding: 2px 16px;
    }
}
