.marco_i{
    margin: 15px;
    border-style:groove;
    h2{
        margin-left: 15px;
    }
    .parrafo_i{
        margin: 0px 15px 15px;
        column-count: 4;
        img{
            width: 100%;
            height: auto;
        }
    }
}