.titulo{
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(139,196,241,0.85) 0%, rgba(254,254,254,0.15) 100%);
    h2{
        color: white;
        text-shadow: map-get($colores, smb-txt);
        animation-duration: 2s;
        animation-name: entrada;
        animation-iteration-count:initial;
    }
    @keyframes entrada {
        0% {margin-right: 700px;}
        100% {margin-right: 0px;}
    }
}