.fondoformulario{
    background-color: map-get($colores, fnd-princ);
    @extend %orden-c;
    div{
        // @extend %orden-c;
        margin: 15px;
    }
}
.plano{
    @include dimenc(70vw, 300px, 15px);
    box-shadow: map-get($colores, smb-bloq);
}    
.blk-txt{
    background-color: white;
    box-shadow: map-get($colores, smb-bloq);
    @include dimenc(70vw, 300px, 17px);
    padding: 15px;
    p{
        text-align: center;
    }
}